.wrapper {  
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    margin: 0 auto; 
}

.nav {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    margin-left: 69px;
    margin-right: 69px;
}

.nav-item {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center; 
}

.nav-link {
    color: #fff;
    font-size: 15px;
    text-decoration: none;  

}

.nav-link:hover {
    color:#3CB878;
}


.logo {
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

.icon {
    display: block;
    width: 126px;
    height: 24px;
    fill: #FFFFFF;
    cursor: pointer;
}

.icon:hover {
    fill:#3CB878;
}


.nav-line {
    width: 1px;
    height: 19px;
    margin: 0 27px 0 25px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.or {
    padding: 8px;

}
/* FORM */
.backdrop {
    background-image: url(../img/Фон.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    max-width: 450px;
    margin-top: 112px;
    
}

.form {
    overflow: hidden;
    padding: 31px 60px;
    border-radius: 10px 10px 12px rgba (0, 0, 0, 0.5);
    box-shadow: 10px;
    position: relative; 
}
.green {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    background-color:#3CB878;
    z-index: 2;
}

.text {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.title {
    width: 69px;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-link {
    font-weight: normal;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}

.form-link:hover {
    text-decoration:underline;
}
.wrapper-button {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    color: #FFFFFF; 
}

.btn {
    margin-top: 15px;
    width: 160px;
    padding: 16px 20px 17px 16px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #305DB8; 
    cursor: pointer;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;

    transition-duration: 1s;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.btn:hover,.btn:focus {
    background-color: #022263;
}
.btn-line {
    width: 1px;
    height: 28px;
    margin-right: 35px;
    top: 10px;
    background: #2B0D09; 
    mix-blend-mode: normal;
    opacity: 0.1;
}

.buy {  
    background-color: #DF4A32;
    margin-left: 4px;
}
.buy:hover {
    background-color: #AB1F09;
}

.line {
    overflow: hidden;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    color: #434343;  
}

.line .line-item {
    display: inline-block;
    vertical-align: middle;
}
.line-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
}

.line:before,
.line:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;;
    position: relative;
}

.line:before {
    margin-left: -100%;
    left: -5px;
}

.line:after {
    margin-right: -100%;
    right: -5px;
}
.group {
    margin-top: 15px;
}

.input {
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    cursor: pointer;
    outline-style: none;
    margin-right: 0;
}

.input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.real-checkbox:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.not-real {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    vertical-align: sub;
    margin-right: 5px;

}

.not-real::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0 auto;
    transform: translate(-50%, -50%) scale(0);
    /* display: none; */
    /* visibility: hidden; */
    transition: 0.2s ease-in;
}
.real-checkbox:checked + .not-real::before {
    transform: translate(-50%, -50%) scale(1);
    /* visibility:visible; */
    /* display: inline; */
}

.checkbox-label {
    font-weight: normal;
    font-size: 14px;
    color: #434343;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-text {  
    color: #434343;
}
 .checkbox-link { 
    color:#01813F; 
}
.checkbox-link:hover {
    text-decoration:underline;   
}

.row {
    display: flex;
    justify-content: start;
}
.f-btn {
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px; 
    border: none;
 
}

.f-btn:hover {
    background-color:  #01813F;;
}



