.wrapper {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-image: url(../img/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh; 
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
/*Header*/
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu-link:hover .log {
    color: #F26522;
    background-image: url("../img/Logo/2.png");
}
.log {
    width: 53px;
    height: 47px;
    background-image: url("../img/Logo/3.png");
    background-size:auto; 
}

.logo {
    margin-left: 8px;
}

.logo-m {
    font-weight: bold;
    font-size: 29px; 
    text-transform: uppercase;  
}

.logo-h {
    font-size: 18px;
    text-transform: uppercase;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}

.menu-link:hover .logo {
    color: #F26522;
}

.contact-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.contact-link {
    display: flex;
    justify-content: flex-end;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
}

.contact-link:hover {
    color: #F26522;
}
/*MAIN*/
.wrapper-main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-content {
    padding-top: 22px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main-link {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
}

.main-link:hover {
    color: #F26522;
}

.image {
    width: 100%;    
    background: linear-gradient(90deg, #000000 25%, #FFF 25%); 
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;
    background: -ms-linear-gradient(90deg, transparent 25%, transparent 25%); 
    display: block; 
}

.image-element { 
    position: absolute;
    width: 302px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F26522;
    cursor: pointer;
    z-index: 1;
    bottom: 55px;
    display: flex;
    justify-content: space-between;
}

.main-link:hover .image-element {
    visibility: visible;
}
.image:hover::after {
    position: absolute; 
    left: 0; right: 0; 
    z-index: 2; 
    background: #F26522;
    color: #fff;    
}

.image:hover .image.image:hover:after {  
    display: block;
}
.image-element:hover::after {
bottom: 0;
}

.directions {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.litle {
    font-weight: normal;
    font-size: 10px;
    padding-left: 16px;
    padding-top: 7px;
}

.price {
    font-weight: normal;
    font-size: 20px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.detail {
    font-weight: normal;
    font-size: 14px;
    display: flex;
    color: #FFFFFF;
    padding-top: 29px;
    padding-bottom: 12px;
}

.detail::after{
    content: "\203a";
    padding-left: 15px;
    padding-right: 14px;
}

.title {
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px 20px 0 20px;
    margin-bottom: 17px;
}
/* FOOTER */
.foot {
    margin-top: 49px;
    padding-top: 11px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

