.body {
height: 100%;
background-size: 1280px;
background: rgba(0, 0, 0, 0.0001);
font-family: Montserrat, sans-serif;
margin: 0px;
padding: 0px;
}

.navbar {
padding-left: 0px;
display: flex;
justify-content: center;
text-transform:uppercase;
text-decoration: none;
margin-top: 0px;
}

ul li {
display: inline-block;
margin-right: 50px;
list-style: none;
margin-bottom: 25px;
margin-top: 25px;
}

ul li a {
text-decoration: none;
padding: 25px 10px;
color: #FF0000;
font-size: 18px;
font-weight: 700;
}

.main {
display: flex;
flex-direction: column;
}

.img {
margin: 0px 0px;
background-image: url(../img/Foto.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
height: 789px;
}

.h {
font-weight: bold;
font-size: 22px;
text-transform:uppercase;
width: 774px;
margin: 0 auto;
padding: 48px 0px 38px;
text-align: center;
}

.article{
font-size: 16px;
padding: 0px 70px;
margin: 0 auto;
text-align: center;
}

.text {
font-size: 16px;
display:block;
padding-bottom: 0px;
margin-bottom: 28px;
text-align: center;
}

.p {
font-size: 16px;
margin: 0px 0px 28px;   
padding-bottom: 0px;
text-align: justify;
}

.but {
background-color: #FF0000;
font-size: 12px;
color: white;
text-decoration: none;
border-radius: 4px;
margin: 0 auto;
width: 205px;
padding: 18px 43px 18px 43px;
display: block;
text-align: center;

}

.footer {
display: flex;
align-items: center;
justify-content: flex-end;
font-weight: bold;
font-size: 16px;
margin-top: 82px;
margin-right: 105px;
margin-bottom: 29px;
}
