.wrapper {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    color: rgb(241, 208, 57);
    position: relative;
     
}

.wrapper::after {
    content: " ";
    position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    perspective: 450px;
}

.text {
    font-size: 3vw;
    line-height: 1.5em;
    font-stretch: condensed;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: text 30s linear forwards;
    animation-iteration-count: infinite;
}

.title {
    text-align: center;
}

@keyframes text {
    0% {top: 0; transform: translateZ(0) rotateX(20deg);}
    100% {top:-7500px; transform: translateZ(-2500px)rotateX(21deg);}
}
