body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
    color: #fff;
}
.div {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;  
    color: #fff;
}
/*Header*/
.wrapper {
    margin: 0 auto;  
}

header {
    height: 70px;
    background: #313131;
    margin: 0 auto;  
}

.logo-img {
    width: 27px;
    height: 27px;
    display: flex; 
    margin-right: 27px; 
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    padding-left: 27px;
    width: 124px;
    height: 26px;
    color: #fff;
    padding-right: 300px;
}

.search {
    display: flex;
    width: 68px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 300px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #14B9D5;
}
/*Banner*/
.wrapper-banner {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    height: 326px;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom; 
}

.section-h-title {
    width: 637px;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    text-align: center;
    color: #FFFFFF;   
}

.wrapper-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-top: 44px;
    color: #FFFFFF; 
}

Button {
    width: 160px;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #FFFFFF;
}

.btn {  
    background-color:#89CA62;  
}

.btn-color {  
    background: #14B9D5;
    margin-left: 20px;
}
/*Main*/
.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:  1170px;
    margin: 0 auto;
   }

.wrapper-main {
    display: flex;
    flex-flow: column wrap;
    max-height: 1030px; 
    margin-bottom: 72px;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 74px;
    margin-bottom: 50px;
    text-align: center;
}
.box {
    position: relative;
    margin: 0 15px 15px 0;
}
  
.photo {
    width: 370px;
    height: calc(100% + 63px);   
}
  
.coment {
    display: flex;
    text-align: center;
    position: relative;
    left: 0px;
    padding: 22px 16px 22px 14px;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    background-color: #fff;
    text-align: left;
    width: 340px;
    height: 19px;
}
/*Banner2*/
.banner2 {
    height: 600px;
    width: 100%;
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin-bottom: 74px;    
}

.section-b-title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    padding-top: 106px;
    font-size: 32px;
    margin: 0 auto;
}

hr {
    width: 60px;
    height: 3px;
    margin-top: 87px;
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
    background: #18B4CF;
}
.block {
    display: flex;
    justify-content: center;
    align-content: center; 
}
.company {
    padding-right: 58px;   
}
  /*Grid first*/   
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: stretch;
    align-items: stretch;
    height: 190px;
}
 /*GRID*/

.content-items-h {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    text-align:end;
    color: #353A3D;
}

.content-items-text {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5B6469;
}
 .content {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: auto repeat(2, 357px) auto;
    grid-gap: 43px;
    min-height: auto;
    color: #5B6469;
}
  
.content-items-1 {
    grid-column: 1/ span 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 25%);
}

.content-items-1-included {
    grid-column: 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:center;
    justify-self:center;
}

.content-items-2 {
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

.content-items-2-included {
    display: grid;
    grid-column: 4;
    grid-row: 1;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    padding-bottom: 20px;
}

.content-items-3 {
    grid-column: 1/ span 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(2, 50%);
    
}
.content-items-3-included {
    display: grid;
    grid-column: 1/ span 2;
    grid-row: 2;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    width:500px;
}
.content-items-4 {
    grid-column: 3/ span 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}

.content-items-4-included {
    display: grid;
    grid-column: 3/span 2;
    grid-row: 2;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    width:500px;
}
.content-items-5 {
    grid-column: 1/ span 2;
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}
    
.content-items-5-included {
    display: grid;
    grid-column: 1/span 2;
    grid-row: 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    width:500px;
}
.content-items-6 {
    grid-column: 3/span 2;
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(2, 50%);  
}

.content-items-6-included {
    display: grid;
    grid-column: 3/span 2;
    grid-row: 3;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    width:500px;
}
.content-items-7 {
    grid-column: 1;
    grid-row: 4;
    display: grid;
    grid-template-rows: repeat(70% 30%);
    
}
.content-items-7-included {
    display: grid;
    grid-column: 1;
    grid-row: 4;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self:flex-end;
    justify-self:center;
    
}
.content-items-8 {
    grid-column: 2/ span 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(80% 20%);
}

.content-items-8-included {
    display: grid;
    grid-column: 4;
    grid-row: 4;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    color:#5B6469;
    align-self: center;
    justify-self:center;
}
 /*FOOTER*/
.foot {
width: 100%;
height: 80px;
background-color:#000000;
display: flex;
justify-content:space-evenly;
align-items: center;
margin-top: 77px;
}

.f-logo {
color: #fff;
height: 16px;
font-size: 22px;
margin: 0 360px 0 360px ;
}
