.wrapper {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
    color: #FFFFFF; 
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
/*Header*/
.header {
    background-color: #313131;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none; 
    margin: 7px; 
    padding: 10px;
}

.nav-link:hover {
    color: #14B9D5;
}

.logo-img {
    width: 27px;
    display: flex;
    padding: 10px;
    margin: 10px; 
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    width: 124px;
    color: #fff;
    text-decoration: none; 
    justify-content: center;
    align-items: center;
}

.search {
    width: 68px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/*Banner*/
.wrapper-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 160px;
    padding-bottom: 100px;
}

.banner {
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom; 
}

.title {             
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    text-align: center;
    color: #FFFFFF;  
}

.wrapper-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-top: 44px;
    color: #FFFFFF; 
}

.btn {
    width: 160px;
    padding-top: 16px;
    padding-bottom: 17px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border:none;
    background-color:#89CA62;
    cursor: pointer;  
}

.buy {  
    background: #14B9D5;
    margin-left: 20px;
}
.btn-link {
    text-decoration: none; 
    color: #FFFFFF;  
}
/*Main*/
.section-title {
    font-size: 22px;
    font-weight: 700;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
}

.box-wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 896px;
}
.box {
    margin: 0 15px 15px 0;
}
  
.photo {
    width: 370px;
}
.coment-wrapper {
    text-align: center;
}
.coment {
    display: flex;
    padding: 22px 16px 22px 14px;
    font-size: 18px;
    font-weight: bold;
    color: #353A3D;
    background-color: #fff;
    text-align: left;
    width: 340px;
    height: 19px;
}
/*Banner2*/
.banner2 {
    padding-top: 106px;
    padding-bottom: 141px;
    max-width: 100%;
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; 
}

.section-b2-title {
font-size: 32px;
}

hr {
    width: 60px;
    height: 3px;
    margin-top: 87px;
    margin-bottom: 106px;
    display: flex;
    justify-content: center;
    background: #18B4CF;
}
.wrapper-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-column-gap: 58px;
}

.company {
    width: 100%;
    margin: 0 auto;

}
  /*TOP reted*/   
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.image {
    width: 100%;

}
 /*HOT New*/
.content-items-h {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-self:center;
    justify-self:center;
    color: #353A3D;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03); 
    padding: 14px;
    text-align:center;
}

.content-items-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5B6469;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding: 14px;
}

 .content {
    display: grid;
    grid-template-columns: 1fr 35px 1fr 60px 1fr 35px 1fr;
    grid-template-rows: 259px 44px 418px 43px 416px 44px 259px;
    color: #5B6469;
}
.long-news {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content-items-1 {
    grid-column: 1/ span 5;
    grid-row: 1;
    display: flex;
}

.content-items-2 {
    grid-column: 7;
    grid-row: 1;
}

.content-items-3 {
    grid-column: 1/ span 3;
    grid-row: 3;
}

.content-items-4 {
    grid-column: 5/ span 3;
    grid-row: 3;
}

.content-items-5 {
    grid-column: 1/ span 3;
    grid-row: 5;
}

.content-items-6 {
    grid-column: 5/span 3;
    grid-row: 5;
}

.content-items-7 {
    grid-column: 1;
    grid-row: 7;
}

.content-items-8 {
    grid-column: 3/ span 5;
    grid-row: 7;
    display: flex;
}

 /*FOOTER*/
.foot {
    padding: 40px;
    background-color:#000000;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 77px;
}

.f-logo {
    text-decoration: none;  
    color: #fff;
    height: 16px;
    font-size: 22px;
}