.seit {
font-family: 'Roboto', sans-serif;
background-color: rgba(0, 0, 0, 0.0001);
width: 1480px;
height: 100%;
margin: 0 auto;
}

.hed{
margin: 63px 98px 49px 99px;
height: 189px;
display: flex;
justify-content:space-between;
flex-wrap: wrap;
}
    
.logo {
background: linear-gradient(90deg, #000000 25%, #3181A6 25%); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background: -ms-linear-gradient(90deg, transparent 25%, transparent 25%);
width: 360px;
height: 79px;
font-size: 80px;
display: flex;
align-items: center;
margin-bottom: 38px;
}

.a:first-letter {
text-transform: uppercase;
color: green;
    }
.nav {
width: 1280px;
height: 72px;
font-size: 22px;
background-color:#35444F;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
list-style-type: none;
}

.nav li:hover {
background: 
#222F3A;
padding-top: 26px;
padding-bottom: 19px;
}

.nav>li>a {
text-decoration: none;
color: #fff;
padding: 25px 64px;
border-left:  2px solid #FFFFFF;
}

.main{
width: 1280px;
margin-left: 98px;
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 37px;
}

.bar {
width: 344px;
height: 420px;
border: 1px solid #000000;
display: flex;
justify-content: space-evenly;
flex-direction: column;
}

.menu {
cursor: pointer;
font-size: 27px;
list-style-type: none;
padding-top: 27px;
padding-bottom: 27px;
align-content: center;
}

.bar a {
border: 0.1px solid;
border-color:transparent;
display: block;
color: #485863;
text-decoration: none;
padding-left: 44px;
}

.bar a:hover {
color: #35444F;
background-color: #DBDBDB;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 44px;
}
 
.picture {
width: 885px;
height: 529px;
border: 1px solid #000000;
display: flex;
justify-content: center;
align-items: center;
transition: transform 1s;
}


.img:hover {
transform: translate3d(2, 2, 5);
}

.text {
width: 887px;
display: flex;
flex-direction: column;
align-content: flex-end;
font-size: 18px;
color: #2C2C2C;
margin-bottom: 54px;
margin-left: 490px;
}

.content-first {
margin-bottom: 34px;
}

.footer{
background-color: rgba(99, 105, 110, 0.48); 
margin-left: 98px; 
width: 1280px;
height: 69px;
margin-bottom: 30px;
display: flex;
text-align: center;
align-items: center;
}

.link {
display: flex;
list-style-type: none;
font-size: 28px;
float: left;
}
    
.link>li{
text-align:center;
}

.link>li>a {
color: #0C1927;
padding-left: 30px;
padding-right: 30px;
text-decoration:none;
font-size: 27px;
}

.link a:hover {
color:#3181A6;
text-decoration: underline;
}

.copy {
color: #0C1927;
font-size: 24px;
display: flex;
justify-content: flex-end;
text-align: center;
align-items: center;
}